/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #DDDDDD;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #658864;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }

    .input-group {
        padding-left:20px
    }



    h1 {
      text-align: center;
      text-transform: uppercase;
      color: #4CAF50;
    }

    p {
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
      padding:30px;
    }

    a {
      text-decoration: none;
      color: #008CBA;
    }

    .p-simple {
        padding:1px;
    }